.container
	min-height: 200vh
	overflow-x: hidden 
	display: flex
	flex-flow: column
	align-items: center
	background: var(--surface)
	transition: background 0.3s ease
	color: var(--on-surface-variant)
	padding-top: var(--main-header-height) 

	.main
		width: 100%
		max-width: var(--main-layout-content-max-width)
		padding: 32px 24px