.container
	display: flex
	align-items: center
	justify-content: center
	width: 48px
	min-width: 48px
	height: 48px
	min-height: 48px
	padding: 0
	border: none
	cursor: pointer
	background: none

	.icon
		height: 24px
		width: 24px
		transition: color 0.3s ease

	.wrapper
		height: 40px
		width: 40px
		border-radius: 50%
		transition: background 0.3s ease
		overflow: hidden

		.state-layer
			display: flex
			align-items: center
			justify-content: center
			height: 100%
			width: 100%
			border-radius: inherit
			transition: background 0.3s ease
			overflow: hidden
			position: relative

			.ripple-layer
				border-radius: 50%
				position: absolute
				animation: appear 0.6s ease
				transition: background 0.3s ease
				top: 0
				left: 0



	&.standard
		color: var(--on-surface-variant)

		&:hover
			.state-layer
				background: var(--on-surface-variant-hovered)

		.ripple-layer
			background: var(--on-surface-variant-pressed)

		&:focus-visible
			.state-layer
				background: var(--on-surface-variant-focused)

		&.selected
			color: var(--primary)

			&:hover
				.state-layer
					background: var(--primary-hovered)

			.ripple-layer
				background: var(--primary-pressed)

			&:focus-visible
				.state-layer
					background: var(--primary-focused)



	&.tonal
		color: var(--on-surface-variant)

		.wrapper
			background: var(--surface-container-highest)

		&:hover
			.state-layer
				background: var(--on-surface-variant-hovered)

		.ripple-layer
			background: var(--on-surface-variant-pressed)

		&:focus-visible
			.state-layer
				background: var(--on-surface-variant-focused)

		&.selected
			color: var(--on-secondary-container)

			.wrapper
				background: var(--secondary-container)

			&:hover
				.state-layer
					background: var(--on-secondary-container-hovered)

			.ripple-layer
				background: var(--on-secondary-container-pressed)

			&:focus-visible
				.state-layer
					background: var(--on-secondary-container-focused)



	&:disabled
		color: var(--on-surface) !important
		cursor: inherit

		.icon
			opacity: 0.38

		&:hover
			.state-layer
				background: none !important

		&.tonal
			.wrapper
				background: var(--on-surface-hovered)

@keyframes appear
	0%
		width: 0
		height: 0
		transform: translate(0, 0)
		opacity: 1

	25%
		opacity: 1

	100%
		width: 50px
		height: 50px
		transform: translate(-25px, -25px)
		opacity: 0